<!DOCTYPE html>

<html>
  <head>
    <title>WerkBon</title>
    <style type="text/css">
      body {
        background-color: lightgray;
      }

      #werkBon {
        font-family: Roboto, sans-serif;
        position: relative;
        width: 18cm;
        height: 25cm;
        margin: 0 auto;
        border: 1px solid gray;
        background-color: white;
        padding: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      td {
        text-indent: 5px;
        border: 1px solid gray;
      }

      td div {
        text-indent: 0px;
      }

      .noBorder {
        border: 0px solid;
      }
    </style>
  </head>

  <body>
    <div id="werkBon">
      <div>
        <div><b>FLEXICON</b></div>
        <div>Bloemendalerweg 7 | 1382 KB Weesp</div>
        <div>T. 0294 - 413775</div>
        <div>info@flexicon.nl</div>
        <div>www.flexicon.nl</div>
      </div>
      <br/>
      <table>
        <tr>
          <td style="width:20%">BONNUMMER</td>
          <td style="width:25%"></td>
          <td class="noBorder"></td>
          <td style="width:20%">DATUM</div>
          <td style="width:25%"></td>
        </tr>
      </table>
      <br/>
      <table>
        <tr>
          <td style="width:20%" class="noBorder"></td>
          <td style="width:5%" class="noBorder"></td>
          <td style="width:35%; text-align:center">BOZOEKADRES</td>
          <td style="width:5%" class="noBorder"></td>
          <td style="width:35%; text-align:center">AFLEVERADRES</td>
        </tr>
        <tr>
          <td>Bedrijfsnaam</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Contactpersoon</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Adresregel 1</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Adresregel 2</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Postcode</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Plaats</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Land</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
        <tr>
          <td>Telefoonnummer</td>
          <td class="noBorder"></td>
          <td></td>
          <td class="noBorder"></td>
          <td></td>
        </tr>
      </table>
      <br/>
      <table>
        <tr>
          <td style="width:20%">aantal</td>
          <td style="width:80%"></td>
        </tr>
        <tr style="line-height:250px">
          <td>
            <div style="display: inline-block; line-height:1">
              <div>opdracht</div>
              <div>omschrijving</div>
            </div>
          </td>
          <td></td>
        </tr>
        <tr style="line-height:50px">
          <td>
            <div style="display: inline-block; line-height:1">
              <div>productie</div>
              <div>opmerkingen</div>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>aandachtspunten</td>
          <td></td>
        </tr>
      </table>
      <br/>
      <table>
        <tr>
          <td style="width:20%">Leverwijze</td>
          <td style="width:80%"></td>
        </tr>
        <tr>
          <td>Lever datum</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <div style="display: inline-block; line-height:1">
              <div>Uiterste verzend</div>
              <div>datum</div>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
      <br/>
      <table>
        <tr>
          <td style="width: 20%">
            <div style="text-align:center">
              <div>KVK</div>
              <div>34243538</div>
            </div>
          </td>
          <td style="width: 30%">
            <div style="text-align:center">
              <div>BTW nr.</div>
              <div>NL8156.10.488.B01</div>
            </div>
          </td>
          <td style="width: 30%">
            <div style="text-align:center">
              <div>IBAN</div>
              <div>NL33ABNA0497734532</div>
            </div>
          </td>
          <td style="width: 20%">
            <div style="text-align:center">
              <div>BIC</div>
              <div>ABNANL2A</div>
            </div>
          </td>
        </tr>
      </table>
      <br/>
      <div>
        Op al onze werkzaamheden zijn
        de algemene voorwaarden van de sector kunstoffen industrie van toepassing,
        reclameren binnen 8 dagen
      </div>
    </div>
  </body>
</html>
